@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html
{
    scroll-behavior: smooth;
}

.max-width
{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*NAVBAR*/
.navbar
{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    background: crimson;
    font-family: 'ubuntu', sans-serif;
}
.navbar .max-width
{
    display: flex;
    align-items: center;/*aligner portfolio et navbar*/
    justify-content: space-between; /*ecarter portfolio et navbar*/
}
.navbar .logo a
{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li
{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a
{
    /*propriétés de la liste en haut à droite*/
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}
.navbar .menu li a:hover{
    color: rgb(0, 0, 0);
}

/*barre menu*/
#main
{
    display: none;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }


/*partie home*/
.home
{
    display: flex;
    height: 100vh;
    color: #fff;
    min-height: 300px;
    font-family: 'ubuntu', sans-serif;
}

.home article
{
    width: 100%;
    height: 75%;
}

/*.home .max-width
{
    margin: auto 0 auto 40px;
}*/

.home .home-content .text-1
{
    font-size: 20px;
    padding-bottom: 0px;
    padding-top: 150px;
    
}
.home .home-content .text-2
{
    font-size: 40px;
    font-weight: 600; /*grasse de la police*/
    margin-left: -3px;
}
.home .home-content .text-3
{
    font-size: 40px;
    margin: 50px 0;
}
.home .home-content .text-3 span
{ /*pour le span developer*/
    color: crimson;
    font-weight: 900;
}




/*ABOUT*/

.about
{
    font-family: 'ubuntu', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
.about .tittle
{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'ubuntu', sans-serif;
}
.about .about-content .column-left img
{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 100px;
}
.about .about-content .column-right .text span
{
    color: crimson;
    width: auto;
}
.about .about-content
{
    display: flex;
   /* align-items: center;*/
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    width: 100%;
}
.about .about-content .column-right
{
    width: 55%;
}
.about .about-content .column-right .text
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .column-right p
{
    text-align: justify;
    line-height: 3em;
}
.about .about-content .column-right a
{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;

}
.about .about-content .column-right a:hover{
    color: crimson;
    background: none;
}


/*PROJECT*/

#project
{
    background-color: crimson;
    height: 500px;
}
#project  h2
{
    color: white;
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    padding-top: 30px;
}
#project img
{
    width: 85%;
    height: 55%;
    
    
}
img
{
    max-width: 100%;
    height: auto;
    float: right;
    padding: 20px;
    
}
#project .row
{
    padding: 25px;
    align-items: center;
}
.col-md-4
{
    float: right;
    width: 33.33%;
    text-align: center;
    color: #fff;
    font-family: 'ubuntu', sans-serif;
    padding: 20px;
}
.col-md-4 h3{
    font-size: 25px;
    margin-left: 18%;
}
.btn
{
    display: block;
    display: inherit;
    margin-left: 18%;
    width: 70px;
    height: 30px;
    text-align: center;
    color: crimson;
    border-radius: 4px;
}


/*SKILLS*/
#skills
{
    width: 900px;
    height: 400px;
    margin: 10px auto;
    padding-top: 40px;
}
#skills h1
{
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    color: crimson;
    padding-bottom: 20px;
}
.col1, .col2, .col3
{
    background: crimson;
    width: 280px;
    float: right;
    margin: 10px;
    align-items: center;
    justify-content: space-between;

}
.col1, .col2, .col3, h3 p
{
    text-align: center;
    color: #fff;
    font-family: 'ubuntu', sans-serif;
    line-height: 4em;
}




/*CONTACT*/

#contact
{
	padding: 60px 0;
	text-align: center;
    font-family: 'ubuntu', sans-serif;
}
#contact h3
{
	width: 400px;
	text-transform: uppercase;
	margin-bottom: 20px;
	border-bottom: 1px solid crimson;
	margin: 0 auto 20px auto;
	padding-bottom: 20px;
}
form
{
	margin: 60px 0 20px 0;
}
label
{
	font-weight: bold;
	font-size: 20px;
	margin-right: 10px;
	color: #777;
}
input[type="text"]
{
	padding: 10px;
	font-size: 20px;
	margin-right: 20px;
	border: 2px solid #ddd;
	border-radius: 3px;
}
.button-3
{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	padding: 11px;
	background-color: crimson;
	border-style: none;
	border-radius: 3px;
}
.button-3:hover
{
	color: #fff;
	background-color: #111;
}


/*FOOTER*/

footer
{
	height: 100px;
	background-color: crimson;
    font-family: 'ubuntu', sans-serif;
}

footer h1
{
	color: #fff;
	text-align: center;
	padding-top: 20px;
}
.copyright
{
	text-align: center;
	font-weight: initial;
	color: #fff;
}









@media only screen and (max-width: 600px) {
    .navbar{
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
    }
    .navbar .max-width
    {
        max-width: 0;
        justify-content: flex-start;
        margin: 0;  
        padding: 0;
    }
    .home{
        height: 70vh;
    }
  
    .home .home-content .text-1
    {
        font-size: 10px;
    }
  
    .home .home-content .text-2
      {
        font-size: 30px;
      }
    .home .home-content .text-2
    {
        font-size: 25px;
    }
    .home
    {
        display: ruby;
    }
    .about .about-content .column-left img
    {
        height: 250px;
        width: 300px;  
    }
    .about .about-content .column-right .text
    {
        display: ruby;
        margin-top: 20px;
    }
    .about .tittle
    {
        padding: 0;
        font-size: 30px;
        margin: 0;  
    }
    .about .about-content .column-right p
    {
        width: 250px;
        padding: 10px;
        margin-bottom: 10px;
    }


    #project .row
    {
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    #project
    {
        height: 800px;
    }
    #project img
    {
        width: 100%;
        height:75%;
        padding: 10px;
    }
    .col-md-4
    {
        width: 60%;
    }
    .col-md-4 h3
    {
        font-size: 10px;
        margin-left: 0;
        padding: 10px;
    }
    .btn
    {
        margin: auto;
    }





    #skills
    {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 0;
        padding: 35px;
    }
    #skills h1
    {
        margin-right: 510px;
    }
    .menu
    {
        display: none;
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    #main
    {
    display: block;
    margin-left: 100px;
    }

    form
    {
        display: grid;
    }
    input[type="text"]
    {
        margin: auto;
    }
    .button-3
    {
        margin: auto;
    }
}

/*@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    #main
    {
    display: block;
    }
  }

